---

- name: download node installer
  get_url:
    url: https://deb.nodesource.com/setup_18.x
    dest: /usr/local/src/nodejs_18_setup
  register: node_download

- name: configure nodejs repository
  shell: /usr/bin/bash /usr/local/src/nodejs_18_setup; apt update
  when: node_download.changed

- name: install nodejs and other packages #npm
  package:
    name: net-tools, joe, python3-venv, maven, docker.io, docker-compose, openjdk-17-jre-headless, nodejs #,npm
  register: packages

- name: configure docker logging
  template:
    src: docker-daemon.json.j2
    dest: '/etc/docker/daemon.json'
  tags: docker-config

- name: cron job for log rotation
  cron:
    name: "compress logs in {{ item }}"
    cron_file: "ansible"
    user: root
    minute: "13"
    hour: "0"
    job: 'find {{ item }} -mtime +0 | grep "\.log" | grep -v "\.gz$" | xargs gzip'
    backup: yes
  with_items:
   - /var/lib/docker/overlay2/*/diff/cedar/log/cedar-user-server
   - /var/lib/docker/overlay2/*/diff/cedar/log/cedar-terminology-server
   - /var/lib/docker/overlay2/*/diff/cedar/log/cedar-resource-server
   - /usr/local/src/CEDAR/cedar-docker-deploy/cedar-infrastructure/mount/log_mongo
   - /usr/local/src/CEDAR/cedar-docker-deploy/cedar-infrastructure/mount/log_opensearch
  tags: cron

- name: Reboot the server if fresh install -- this is only needed because of docker
  shell: "sleep 5 && reboot"
  async: 1
  poll: 0
  register: reboot
  tags: reboot
  when: packages.changed

- name: Wait for the reboot and reconnect 
  wait_for:
    port: 22
    host: '{{ (ansible_ssh_host|default(ansible_host))|default(inventory_hostname) }}'
    search_regex: OpenSSH
    delay: 10
  timeout: 300
  when: reboot.changed
  connection: local

- name: npm install -g @angular/cli
  community.general.npm:
    name: '@angular/cli'
    global: true

- name: create cedar dir
  file:
    dest: '{{ cedar_home }}'
    state: directory

- name: clone cedar-cli repo
  git:
    repo: https://github.com/dsd-sztaki-hu/cedar-cli.git
    version: '{{ cedar.cliversion }}'
    dest: '{{ cedar_home }}/cedar-cli'
  tags: git

- name: create python virtual environment
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: python3 -m venv ./.venv
    creates: '{{ cedar_home }}/cedar-cli/.venv'
  tags: venv

- name: install python requirements
  pip:
    requirements: '{{ cedar_home }}/cedar-cli/requirements.txt'
    virtualenv: '{{ cedar_home }}/cedar-cli/.venv'
  tags: requirements

- name: install bash aliases file
  template:
    src: aliases.j2
    dest: '{{ cedar_home }}/aliases'
  tags: aliases

- name: source aliases in /root/.bashrc
  lineinfile:
    path: /root/.bashrc
    regex: '^\. {{ cedar_home }}/aliases'
    line: '. {{ cedar_home }}/aliases'
  tags: aliases

- name: generate hosts file part
  template:
    src: hosts_part.j2
    dest: /tmp/cedar_hosts_part
  tags: hosts

- name: read remote hosts file part
  register: hosts_file_part
  shell: cat /tmp/cedar_hosts_part
  tags: hosts

- name: merge hosts file part
  blockinfile:
    block: "{{ hosts_file_part.stdout }}"
    marker: "# CEDAR ANSIBLE ENTRIES {mark}"
    path: /etc/hosts
  tags: hosts

- name: clone all cedar gits
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: source .venv/bin/activate ; python3 cedar.py git clone all
  tags: cedargits, git
  notify: enable and restart cedar

- name: clone more with cedarcli
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c "cedarcli git clone all"
  tags: cedargits, git
  notify: enable and restart cedar

- name: pull with cedarcli to refresh gits
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c "cedarcli git pull"
  tags: cedargits, git
  notify:
   - stop cedar
   - enable and restart cedar

# Don't do this now, we expect that our main version matches the version we want to install. May reveisit later.
- name: checkout requested version with cedarcli
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c "cedarcli git checkout {{ cedar.version }} | grep -c \"^error. .* did not match any file\""
  when: cedar.version is defined
  tags: cedargits, git, cedargitcheckout
  register: cedarcli_git_checkout
  failed_when: (cedarcli_git_checkout.stdout | int > 3)

- name: change docker build remote and checkout different version
  shell:
    chdir: '{{ cedar_home }}/cedar-docker-build'
    cmd: bash -i -c "git remote | grep -q "{{ cedar.docker_build.remote.name }}" ||
         git remote add {{ cedar.docker_build.remote.name }} {{ cedar.docker_build.remote.url }} && 
         git fetch {{ cedar.docker_build.remote.name }} && 
         git checkout {{ cedar.docker_build.remote.version }}"
  when: cedar.docker_build.remote is defined
  tags: dockerremote, docker, git
  notify:
   - stop cedar
   - enable and restart cedar

#- name: generate new salt and hash for admin password
#  local_action:
#    module: shell roles/cedar/files/generate_password_hash_and_salt.py {{ cedar.ADMIN_PASSWORD }}
#  register: password_hasher_output
#  tags: dockerremote, docker, git

#- set_fact:
#    cedar_admin_password_salt: "{{ password_hasher_output.stdout_lines[0] }}"
#    cedar_admin_password_hash: "{{ password_hasher_output.stdout_lines[1] }}"
#  tags: dockerremote, docker, git

#- name: update admin password in docker build remote
#  replace:
#    path: '{{ cedar_home }}/cedar-docker-build/cedar-infra-keycloak/config/keycloak-realm.CEDAR.development.2023-07-05.json'
#    regexp: '^      "secretData" : .*$'
#    replace: '      "secretData" : "{\"value\":\"{{ cedar_admin_password_hash }}\",\"salt\":\"{{ cedar_admin_password_salt }}\",\"additionalParameters\":{}}",'
#  tags: dockerremote, docker, git
#  when: cedar.docker_build.remote is defined
#  tags: dockerremote, docker, git
#  notify: enable and restart cedar

- name: change docker deploy remote and checkout different version
  shell:
    chdir: '{{ cedar_home }}/cedar-docker-deploy'
    cmd: bash -i -c "git remote | grep -q "{{ cedar.docker_deploy.remote.name }}" || 
         git remote add {{ cedar.docker_deploy.remote.name }} {{ cedar.docker_deploy.remote.url }} && 
         git fetch {{ cedar.docker_deploy.remote.name }} && 
         git checkout {{ cedar.docker_deploy.remote.version }}"
  when: cedar.docker_deploy.remote is defined
  tags: dockerremote, docker, git
  notify:
   - stop cedar
   - enable and restart cedar

- name: change docker terminology remote and checkout different version
  shell:
    chdir: '{{ cedar_home }}/cedar-terminology-server'
    cmd: bash -i -c "git remote | grep -q "{{ cedar.docker_terminology.remote.name }}" || 
         git remote add {{ cedar.docker_terminology.remote.name }} {{ cedar.docker_terminology.remote.url }} && 
         git fetch {{ cedar.docker_terminology.remote.name }} && 
         git checkout {{ cedar.docker_terminology.remote.version }}"
  when: cedar.docker_terminology.remote is defined
  tags: dockerremote, docker, git
  notify:
   - stop cedar
   - enable and restart cedar

- name: Check if ca.crt exists
  stat:
    path: /usr/local/src/CEDAR/CEDAR_CA/ca.crt
  register: ca_cert
  tags: certs

- name: cedarcli cert setup
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c "cedarcli cert setup &&
                     cedarcli cert ca &&
                     cedarcli cert domains"
  when: cedar.ca.enabled and (ca_cert is not defined or not ca_cert.stat.exists)
  tags: certs
  notify:
   - stop cedar
   - enable and restart cedar

- name: cedarcli docker one-time-setup
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c "cedarcli docker one-time-setup"
  tags: docker

- name: Copying self-signed certificates into the cedar_cert volume...
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c '
             docker run -v cedar_cert:/data --name cedar-cert-helper busybox:1.36.0 true &&
             docker cp ${CEDAR_HOME}/CEDAR_CA/certs cedar-cert-helper:/data &&
             docker rm cedar-cert-helper'
#             docker run -v cedar_cert:/data --name cedar-cert-helper2 busybox:1.36.0 /bin/sh -c "rm -rf /data/live ; cd /data ; ln -s certs live" &&
#             docker rm cedar-cert-helper cedar-cert-helper2'
  tags: docker, certs
  notify:
   - stop cedar
   - enable and restart cedar

- name: Copying CA certificate into the cedar_ca volume...
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c '
             docker run -v cedar_ca:/data --name cedar-ca-helper busybox:1.36.0 true &&
             docker cp ${CEDAR_HOME}/CEDAR_CA/ca.crt cedar-ca-helper:/data &&
             docker rm cedar-ca-helper'
  tags: docker, certs
  notify: enable and restart cedar

# This may not be necessary ...
- name: cedarcli build all
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c "cedarcli build all"
  tags: build
  when: cedar.build_all


- name: install cedar systemd service files
  template:
    src: '{{ item }}.service.j2'
    dest: /etc/systemd/system/{{ item }}.service
    owner: root
    group: root
  with_items:
    - cedar-infrastructure
    - cedar-microservices
    - cedar-frontend
  notify: enable and restart {{ item }}
  tags: systemd, services

- name: restart services if necessary
  meta: flush_handlers

- ansible.builtin.import_tasks: arp_utils.yml
  when: cedar.arp_utils_repo is defined
  tags: arp_utils, arp, arp-utils

- name: update cedar GUI
  shell:
    chdir: '{{ cedar_home }}/cedar-cli'
    cmd: bash -i -c '
             service cedar-frontend stop &&
             service cedar-infrastructure stop &&
             docker image rm metadatacenter/cedar-frontend-main:2.6.47 &&
             docker image rm metadatacenter/cedar-infra-keycloak:2.6.47 &&
             service cedar-infrastructure start &&
             service cedar-frontend start'
  tags: never, gui
