export CEDAR_HOME={{ cedar_home }}

# CEDAR Docker related scripts, aliases, environment variables
#source ${CEDAR_HOME}/cedar-development/bin/templates/cedar-profile-docker-eval-1.sh
#source ${CEDAR_HOME}/cedar-development/bin/templates/cedar-profile-docker-eval-2.sh
{% for item in cedar.docker.scripts %}
source {{ item }}
{% endfor %}
# these are partly overridden below

export CEDAR_HOST={{ cedar.domain }}

export CEDAR_CA_PASSWORD={{ cedar.ca.password }}
export CEDAR_CA_HOME={{ cedar.ca.home }}
export CEDAR_CA_COUNTRY={{ cedar.ca.country }}
export CEDAR_CA_STATE={{ cedar.ca.state }}
export CEDAR_CA_LOC={{ cedar.ca.loc }}
export CEDAR_CA_ORG={{ cedar.ca.org }}
export CEDAR_CA_ORG_UNIT={{ cedar.ca.org_unit }}
export CEDAR_CA_COMMON_NAME={{ cedar.domain }}
export CEDAR_CA_EMAIL={{ cedar.ca.email }}

# Configs for our additions
# This is proxied via infra-nginx container to 
# CEDAR_ARP_DATAVERSE_API_BACKEND_HOST_AND_PORT
export CEDAR_FRONTEND_ARP_API_URL={{ cedar.dataverse.url }}/api/arp
export CEDAR_FRONTEND_ARP_DV_COLLECTION=root

{% if cedar.dataverse.host is defined %}
# to overcome mixed http/https access.
export CEDAR_ARP_DATAVERSE_API_BACKEND_HOST_AND_PORT={{ cedar.dataverse.host }}:{{ cedar.dataverse.port }}
{% endif %}

# In production these should be set to sg. Secure.
# To see all envs use: cedarcli env list
export CEDAR_CA_PASSWORD="{{ cedar.CA_PASSWORD }}"
export CEDAR_KEYCLOAK_ADMIN_PASSWORD="{{ cedar.KEYCLOAK_ADMIN_PASSWORD }}"
export CEDAR_KEYCLOAK_MYSQL_PASSWORD="{{ cedar.KEYCLOAK_MYSQL_PASSWORD }}"
export CEDAR_LOG_MYSQL_PASSWORD="{{ cedar.LOG_MYSQL_PASSWORD }}"
export CEDAR_MESSAGING_MYSQL_PASSWORD="{{ cedar.MESSAGING_MYSQL_PASSWORD }}"
export CEDAR_MONGO_APP_USER_PASSWORD="{{ cedar.MONGO_APP_USER_PASSWORD }}"
export CEDAR_MONGO_ROOT_USER_PASSWORD="{{ cedar.MONGO_ROOT_USER_PASSWORD }}"
export CEDAR_MYSQL_ROOT_PASSWORD="{{ cedar.MYSQL_ROOT_PASSWORD }}"
export CEDAR_NEO4J_USER_PASSWORD="{{ cedar.NEO4J_USER_PASSWORD }}"
export CEDAR_SALT_API_KEY="{{ cedar.SALT_API_KEY }}"
export CEDAR_ADMIN_USER_API_KEY="{{ cedar.key }}"

export CEDAR_BIOPORTAL_API_KEY={{ cedar.bioportal_api_key }}
export CEDAR_BIOPORTAL_REST_BASE="https://data.bioontology.org/"
export CEDAR_CADSR_ADMIN_USER_API_KEY="{{ cedar.key }}"

# If you change this, you also have to change secretData for cedar-admin in
#cedar-docker-build/cedar-infra-keycloak/config/keycloak-realm.CEDAR.development.2023-07-05.json
# See more information below under 3.2.1.
#export CEDAR_ADMIN_USER_PASSWORD="{{ cedar.ADMIN_USER_PASSWORD }}"

# Optional: Use other  port than 8080 (eg. when running together with DV which
# runs at 8080)
export CEDAR_KEYCLOAK_HTTP_PORT=8080


alias python=python3

alias cedarcli='source $CEDAR_HOME/cedar-cli/cli.sh'
#alias cedarcli=$CEDAR_HOME/cedar-cli/cli.sh

