[Unit]
Description=CEDAR infrastructure service

[Service]
#User=root
#Group=root
Environment="CEDAR_HOME={{ cedar_home }}"
Environment="JAVA_HOME={{ cedar.java.home }}"
WorkingDirectory={{ cedar_home }}
ExecStart=/usr/bin/bash -i -c startinfrastructure
ExecStop=/usr/bin/bash -i -c stopinfrastructure
Restart=always

[Install]
WantedBy=multi-user.target
