{{ cedar_hosts_ip | default('127.0.0.1') }}   {{ cedar.domain }} user.{{ cedar.domain }} auth.{{ cedar.domain }} cedar.{{ cedar.domain }} artifact.{{ cedar.domain }} component.{{ cedar.domain }} group.{{ cedar.domain }} impex.{{ cedar.domain }} internals.{{ cedar.domain }} messaging.{{ cedar.domain }} open.{{ cedar.domain }} openview.{{ cedar.domain }} repo.{{ cedar.domain }} resource.{{ cedar.domain }} schema.{{ cedar.domain }} submission.{{ cedar.domain }} terminology.{{ cedar.domain }} valuerecommender.{{ cedar.domain }} worker.{{ cedar.domain }} demo.cee.{{ cedar.domain }} demo-dist.cee.{{ cedar.domain }} docs.cee.{{ cedar.domain }} docs-dist.cee.{{ cedar.domain }} api-php.cee.{{ cedar.domain }} arp-dataverse.{{ cedar.domain }}
